
.header {
    background: black;
    width:100%;
    height:50px;
    display:flex;
}

.header h5 {
    color:white;
    display:flex;
    margin:auto;
}

.header a {
    color:gray;
    display:flex;
    margin:auto;
    text-decoration: none;
}

.header a:hover {
    color:white;
    transition: all 0.5s;
}

.header a.active {
    color:white;
}

.shop-main {
    height:500px;
    width:100%;
    background: gray;
}

.drag {
    display:flex;
    justify-content: center;
    align-content: center;
    background:black;
    margin:auto;
    height:80%;
    width:95%;
}    
